<<<<<<< HEAD
.navbar {
  background-color: #415CC0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  margin: 0;
  font-family: Lato, sans-serif;
}

.mend-logo {
  width: 120px;
  height: 70px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 30px;
  margin-left: auto;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  color: #FAFAFD;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: transparent;
  border: 2px solid #FAFAFD;
  border-radius: 20px;
  padding: 0.5rem 3rem;
  color: #FAFAFD;
  cursor: pointer;
  font-size: 18px;
  font-family: Lato, sans-serif;
  margin-right: 20px;
}

.login-btn:hover {
  background-color: #FAFAFD;
  color: #415CC0;
}

=======
  body{
    margin: auto;
    font-family: 'Fredoka', sans-serif;
  }
  

  
  .navbar {
    background-color: #415CC0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .mend-logo {
    width: 120px;
    height: 70px;
    margin-left: 20px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30px;
    margin-left: auto;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links a {
    color: #FAFAFD;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
    .footer{
      background-color: #415CC0;
      display: flex;
      justify-content: flex-end;
      padding: 25px;
    }
  
    .footer i{
      font-size: 35px;
      color: #FAFAFD;
      margin: 0 10px;
    }
  
    .footer a:hover i{
      transform: translateY(-7px);
    }
>>>>>>> 21cc3f56a96c491ac2c0045cacdc3f48dd0793df
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    margin: 30px;
    float:right;
    transition: margin-left 0.5s ease-in-out;
  }
    .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 30px;
    float:left;
    background-color: #d0d4ec; 
    border: 5px solid #99A9E3; 
    border-radius: 10px; 
    padding: 20px;
    width: 150px; 
    height: 400px;
    margin: 30px;
    transition: width 0.5s ease-in-out;
  }
  .left-side:hover {
    width: 250px;
  }
  .single-entry {
    display: flex;
    align-items: center;
  }
  
  .file-size {
    font-size: 40px;
    color: #415CC0;
    margin-right: 10px;
  }
  
  .entry-date {
    opacity: 0; 
    display: inline-block; 
  }
  
  .entry-date p {
    margin: 0; 
    display: inline; 
    opacity: 0;
  }
  
  .entry-date:hover {
    opacity: 1; 
  }
  
  .container {
    display: flex;
    height: max-content;
    padding: 30px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

  }
  .file-bar{
    background-color: #99a9e3;
  }
  .textbox {
    padding: 1vw;
    border: 10px solid #99a9e3;
    border-radius: 50px;
    box-shadow: -20px 20px 0px rgba(153, 169, 227);
    height: 400px;
    font-size: 2vw;
    width: 30vw;
    margin-bottom: 20px; 
  }
  .cta {
    background-color: #415CC0;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
  }
  .cta :hover{
    background-color: white;
    color: #415CC0;
  }
  textarea { resize:vertical; }
<<<<<<< HEAD
  .single-entry{
    inline-t:block;
  }

  .footer{
    background-color: #415CC0;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
  }

  .footer i{
    font-size: 35px;
    color: #FAFAFD;
    margin: 0 10px;
  }

  .footer a:hover i{
    text-decoration: underline;
  }
=======
>>>>>>> 21cc3f56a96c491ac2c0045cacdc3f48dd0793df
