.navbar {
    background-color: #415CC0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body{
    margin: 0;
    font-family: Lato, sans-serif;
  }

  .mend-logo {
    width: 100px;
    height: 50px;
    margin-left: 20px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links a {
    color: #FAFAFD;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #FAFAFD;
  }
  
  .login-btn {
    background-color: transparent;
    border: 2px solid #FAFAFD;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    color: #FAFAFD;
    cursor: pointer;
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin-right: 20px;
  }
  
  .login-btn:hover {
    background-color: #FAFAFD;
    color: #415CC0;
  }