.navbar {
    background-color: #415CC0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body{
    margin: 0;
    font-family: Lato, sans-serif;
  }

  .mend-logo {
    width: 100px;
    height: 50px;
    margin-left: 20px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links a {
    color: #FAFAFD;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #b2b2d5;
  }
  
  .login-btn {
    background-color: transparent;
    border: 2px solid #FAFAFD;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    color: #FAFAFD;
    cursor: pointer;
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin-right: 20px;
  }
  
  .login-btn:hover {
    background-color: #FAFAFD;
    color: #415CC0;
  }

  .mend-logo2 {
    display: block;
    margin: 5px auto; 
    width: 500px; 
    height: 300px; 
    margin-left: 210px;
    margin-top: 70px;
  }

  .about-box {
    background-color: #fafafd; 
    border-radius: 10px; 
    border: 2px solid #5c77d9;
    padding: 20px; 
    width: 500px; 
    position: absolute; 
    top: 50%; 
    right: 200px; 
    transform: translateY(-50%); 
  }

  .about-title{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 785px;
    color: #5C77D9;
  }

  .features-box {
    background-color: #d0d4ec; 
    border: 2px solid #99A9E3; 
    border-radius: 10px; 
    padding: 20px;
    width: 60%; 
    margin-left: 50%;
    margin-top: 20px; 
  }