.navbar {
    background-color: #415CC0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body{
    margin: 0;
    font-family: Lato, sans-serif;
  }

  .mend-logo {
    width: 120px;
    height: 70px;
    margin-left: 20px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30px;
    margin-left: auto;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links a {
    color: #FAFAFD;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    background-color: transparent;
    border: 2px solid #FAFAFD;
    border-radius: 20px;
    padding: 0.5rem 3rem;
    color: #FAFAFD;
    cursor: pointer;
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin-right: 20px;
  }
  
  .login-btn:hover {
    background-color: #FAFAFD;
    color: #415CC0;
  }

  .mend-header{
    width: 100%;
    height: 195px;
    object-fit: cover;
  }

  .mend-logo2 {
    display: block;
    margin: 5px auto; 
    width: 500px; 
    height: 300px; 
    margin-left: 210px;
    margin-top: 70px;
  }

  .about-box {
    background-color: #fafafd; 
    border-radius: 10px; 
    border: 2px solid #5c77d9;
    padding: 20px; 
    width: 500px; 
    height: 150px;
    position: absolute; 
    top: 550px; 
    left: 50%;
    transform: translateY(-50%); 
    z-index: 1;
    margin-bottom: 50px;
  }

  .about-title{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 400px;
    left: 60%;
    color: #5C77D9;
    z-index: 2;
    transform: translateX(-50%);
  }

  .features-box {
    background-color: #d0d4ec; 
    border: 5px solid #99A9E3; 
    border-radius: 10px; 
    margin-top: 100px !important;
    padding: 20px;
    width: 60%; 
    height: 300px;
    margin: 20px auto;
    box-shadow: -20px 20px 0px rgba(153, 169, 227);
    color: #203454;
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 2.0;
  }

  .features-title{
    color: #5C77D9;
    font-family: Lato, sans-serif;
    margin-bottom: 0px;
  }

  .how-to-use{
    color:#99A9E3;
    font-family: Lato, sans-serif;
  }

  .start-journaling-btn {
    background-color: #415CC0;
    color: #FAFAFD;
    border: none;
    border-radius: 20px; 
    padding: 15px 30px;
    letter-spacing: 1px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 20px auto; 
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .start-journaling-btn:hover{
    background-color:#344975;
    cursor: pointer;
  }

  .footer{
    background-color: #415CC0;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
  }

  .footer i{
    font-size: 35px;
    color: #FAFAFD;
    margin: 0 10px;
  }

  .footer a:hover i{
    transform: translateY(-7px);
    }


  p.description{
    color: #203454;
  }